.card{
    margin: 10px;
    padding: 10px;
    display: block;
    border: black 2px solid;
    width: 25rem;
    font-size: 20px;
    background-image: linear-gradient(120deg, #9ecafb 0%, #6592b7, #4d8bfd 100%);
}

.card-img{
    height: 25rem;
    width: 22rem;
}

.card-btn{
    margin: 20px;
    height: 3rem;
    width: 10rem;
    border: none;
    background-color: blanchedalmond;
    font-size: 20px;
}

.color-div{
    width: 10rem;
    height: 1.2rem;
}

.size-div{
    width: 10rem;
    height: 1.2rem;
}

.count-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.incBtn{
    width: 2rem;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}